.future-event-card {
    background: linear-gradient(126.67deg, #DAD7D9 0.76%, rgba(218, 215, 217, 0.28) 100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.future-event-card:hover {
    transform: translateX(10px);
}

.future-event-card .bg-black {
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transform-origin: center;
}

.future-event-card:hover .bg-black {
    transform: scaleX(1.07) scaleY(1.5);
}
